// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$dark: #064083;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #011c3a;
$placeholder: #BEBEBE;
$muted: #E7E7E7;

// Media
$tablet: 959px;